.todo {
    position: absolute;
    top: 0;
    width: 30%;
    height: 100%;
    padding: 16px;
}

.todo-left {
    left: 0;
}

.todo-right {
    right: 0;
}

.todo .todo-content {
    width: 100%;
    height: fit-content;
    background: white;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.todo ul {
    list-style: none;
}

.todo ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 4px;
    position: relative;
    user-select: none;
}

.todo ul li label {
    padding: 0 10px;
    font-size: 13px;
    font-weight: 600;
    color: black;
    cursor: pointer;
    text-transform: capitalize;
    margin-bottom: 2px;
    max-width: 90%;
    text-overflow: ellipsis;
    line-clamp: 1;
    text-wrap: nowrap;
    overflow: hidden;
}

.todo ul li .delete {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-70%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 3px;
    font-weight: 600;
    cursor: pointer;
    background: red;
}

.todo ul li .delete:hover {
    background: rgba(0, 0, 0, 0.4);
}

.todo .add {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 12px;
}

.todo .add input {
    width: 100%;
    height: 32px;
    border: none;
    outline: none;
    color: black;
    padding-left: 4px;
}
